/* Product Screen */
.product-screen-wrapper {
  width: 90%;
  margin: auto;
}
.product-screen-div {
  display: flex;
  min-height: 35vh;
  width: 100%;
  margin: auto;
}

.product-img {
  width: 100%;
  aspect-ratio: 1;
}

/* Product Desc Div */
.product-screen-div > .product-desc-div {
  width: 40%;
  position: relative;
  padding: 1.5%;
  font-family: "Ember-Light";
  /* font-size: 0.5rem; */
  word-break: break-word;
  text-rendering: optimizeLegibility;
  font-weight: bolder;
}
.great-indian-festival {
  background-color: #cc0c39 !important;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  /* margin-bottom: 4px; */
  color: white;
  font-family: "Ember-Medium";
  font-size: 0.8rem;
}
.product-desc-div h1 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.discount-percentage {
  color: #cc0c39 !important;
  font-weight: 300 !important;
}
.product-pricing {
  font-size: 1.8rem;
  margin-bottom: 4px;
  margin-top: 10px;
}
.product-pricing-wrapper {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
}
.carbon-point-div-wrapper {
  justify-content: flex-end;
  flex: 1;
}
.carbon-point-tooltip{
  margin-left: 50px;
  position: relative;
  background-color: black !important;
}
.carbon-point-div-wrapper .carbon-point-chip{
  width: 100px;
  text-align: center;
  justify-content: center;
  font-size: 17px;
}
.product-rating {
  font-size: 1rem !important;
  margin: 0 auto 10px 0;
}
.price-symbol-large {
  position: relative;
  top: -0.7rem;
  font-size: 14px;
}
.mrp {
  margin: 6px 0;
  color: #565959;
  font-family: "Ember-Light";
  font-weight: lighter;
  font-size: 0.8rem;
}
.mrp .mrp-pricing {
  text-decoration: line-through;
}

/* --------------------Product Img Div-------------------- */

.product-screen-div > .product-img-div {
  width: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5%;
}

/* Product Seller Carousel */

.slick-slide {
  height: 100%;
}
.seller-slide-wrapper {
  padding: 2%;
  overflow: hidden;
  height: 100%;
}
.seller-slide {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  margin-right: 8px;
  border-radius: 5px;
  min-height: 100px;
  padding: 1% 10%;
  cursor: pointer;
  height: 100%;
  align-items: stretch;
  flex: 1;
  flex-wrap: wrap;
  display: grid;
}
.selected-slide {
  box-shadow: 0 0 4px 0 #2e7d328b !important;
  border: 1px solid #2e7d3266;
  background-color: #131921;
  color: white !important;
  /* transform: scale(1.05); */
}
.selected-slide .carbon-point-chip {
  background-color: white;
  color: #2e7d32;
}
.selected-slide .mrp {
  color: white;
}
.selected-slide .discount-percentage {
  color: #f79b34 !important;
}
.slider-wrapper {
  padding: 10%;
}
.product-price {
  font-size: large;
}
.price-symbol {
  position: relative;
  top: -0.3rem;
  font-size: 12.5px;
}
.carbon-point-chip {
  display: inline-flex;
  max-width: 100%;
  font-size: 0.8125rem;
  border-radius: 16px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: unset;
  outline: 0;
  text-decoration: none;
  padding: 8px 11px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgba(46, 125, 50, 0.7);

  font-family: "Ember-Medium";
  margin: 10px 0;
  float: right;

  color: white;
  background-color: #2e7d32;
}
.seller-rating {
  font-size: 0.8rem !important;
  margin: -0 auto 10px -2px;
}
.seller-name-div {
  flex: 2;
}
.seller-name {
  margin-bottom: 0;
  font-size: 0.9rem;
}
.seller-slide-heading {
  display: flex;
}
/* Product Price Div */
.product-screen-div > .product-price-div-wrapper {
  width: 25%;
  position: relative;
}
.product-price-div-wrapper {
  padding: 1.5%;
  font-family: "Ember-Medium";
}
.product-price-div {
  border: 1px #d5d9d9 solid;
  width: 100%;
  min-height: 20vh;
  border-radius: 0 0 8px 8px;
  padding: 0 7.5%;
}
.delivery-date {
  font-family: "Ember-Light";
}
.delivery-date span {
  font-family: "Ember-Medium";
}
.delivery-address {
  display: flex;
  color: #007185;
  font-size: 0.8rem;
  font-family: "Ember-Regular";
}
.delivery-address i {
  margin-right: 4px;
  font-size: 1rem;
  position: relative;
  top: 2px;
}
.stock-availability {
  font-family: "Ember-Regular";
  font-weight: lighter;
}
.price-div-seller-info {
  font-family: "Ember-Regular";
}
.price-div-seller-info span {
  color: #007185;
}
.price-div-btns {
  width: 100%;
  padding: 5%;
  margin: 5px auto;
  border-radius: 20px;
  border: 0;
}
.green {
  color: #2e7d32;
}
.taxes {
  font-family: "Ember-Light";
  font-weight: lighter;
  margin-top: 0;
}
#add-to-cart-btn {
  background-color: #ffd814;
}
#buy-now-btn {
  background-color: #ffa41c;
  margin-bottom: 15px;
}
#in-stock {
  color: rgb(13, 133, 19);
}
#out-of-stock {
  color: red;
}
